rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated() {
      return request.auth != null;
    }

    function isUserAuthenticated(userID) {
      return request.auth.uid == userID;
    }

    match /{document=**} {
      allow read, write: if false;
    }

    match /users/{userID} {
      allow read;
      allow write: if isUserAuthenticated(userId);
    }
    match /user_privates/{userID} {
      allow read: if isUserAuthenticated(userId);
      allow write: if isUserAuthenticated(userId);
    }
    match /games/{gameID} {
      allow read;
      // match /strategies/{strategyID} {
      //   // allow write: if isUserAuthenticated(userId);
      // }
      // match /matrixes/{matrixID} {
      // }
      // match /resources/{resourceID} {
      // }
    }
    match /deleted/d/{document=**} {
      match /users/{userID} {
        allow read;
        allow write: if isUserAuthenticated(userId);
      }
      match /user_private/{userID} {
        allow read: if isUserAuthenticated(userId);
        allow write: if isUserAuthenticated(userId);
      }
    }
  }
}